*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
body{
    background-image: url(images/background1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    position: relative;
    width: 350px;
    height: 500px;
    backdrop-filter: blur(5px);
    font-size: 18px;
    color: white;
    box-shadow: 2px 2px 22px 2px white,
    inset 0 0 1000px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    width: 75%;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    margin: 25px 0;
    padding: 0 4px 10px 4px;
}
.input input{
    position:absolute;
    width: 85%;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}
.input label{
    transition: .3s;
    font-size: 17px;
}

.input input:focus~label,
.input input:valid~label{
    transform: translateY(-30px);
}

.input ion-icon{
    font-size:20px ;
}

.checkbox{
    width: 75%;
    display: flex;
    align-items: center;
}

.checkbox p{
    font-size: 14px;
    cursor: pointer;
    margin-left: 49px;
}
.checkbox label{
    font-weight:500;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}

.checkbox input{
    cursor: pointer;
}

.btn{
    height:28px;
    width: 150px;
    border-radius: 5px;
    margin-top: 50px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 1px 1px 2px 1px rgb(245, 242, 250);
}

#p{
    margin-top: 45px;
    font-size: 17px;
}
#p a{
    color: white;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 600;
}

#p a:hover{
    text-decoration: underline;
}
